 html,body{
    	margin: 0;
    }
    .container {
        align-items: stretch;
        display: flex;
        align-items: center;
        height: 100vh;
        text-align: right;
        font-size: 120%;
        overflow: hidden;
    }
    .subContainer {
        display: flex;
        width: 400px;
        align-items: stretch;
        height: 100vh;
        flex-direction: column;
        text-align: center;
    }
    .contentBlock {
        height: 40%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        text-align: left;
    }
    .contentBlock__leftInfo {
         display: flex;
        flex-direction: column;
    }
    .a1 {
        height: 20%;
        background: #e74c3c;
    }
    .a2 {
        display: flex;
        padding-right: 2%;
        justify-content: center;
        flex-direction: column;
        background: #6893af;
        height: 100%;
        flex-grow: 1;
    }
    .a3 {
    	height: 50%;
    	background: #ecf0f1;
    }
    .a4 {
        padding-top: 1%;
    	height: 50%;
    	background: #c0392b;
    }
    .a5 {
        padding-top: 15%;
        flex-grow: 2;
        background: #16a085;
    }
    .a6 {
        padding-top: 15%;
        flex-grow: 1;
        background: #f1c40f;
    }
    .a7 {
        display: flex;
        padding-right: 2%;
        justify-content: center;
        flex-direction: column;
        background: #2980b9;
        height: 100%;
        flex-grow: 1;
    }
    .a8 {
        padding-top: 1%;
        height: 20%;
        background: #d35400;
    }
    .a9 {
        padding-top: 1%;
        height: 20%;
        background: #e67e22;
    }